<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Amazing Coins and Where they Inhabit</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Coins!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py- py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/managment">Managment</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('images/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>The greatest showcoin!</h1>
                        <span class="subheading">My personal archive on extraordinary coins!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="js/script.js"></script>
</body>
<p> Welcome </p>
<form action="/coins" method="POST">
    <div>
        <label for="Year">Year of coin emission</label>
        <input type="date" name="Year" placeholder="Enter the year when the coin was coined!"
            value="<%= typeof Year != 'undefined' ? Year : '' %>" />

    </div>
    <div>
        <label for="Denomination">Denomination(how much it should value)</label>
        <input step="0.1" type="number" name="Denomination" placeholder="Enter what is the number on the coin"
            value="<%= typeof Denomination != 'undefined' ? Denomination : '' %>" />
    </div>
    <div>
        <label for="Pic">Pictre of the coin!</label>
        <input type="string" name="Pic" placeholder="A link will be perfect :)"
            value="<%= typeof Pic != 'undefined' ? Pic : '' %>" />
    </div>
    <div>
        <label for="History">Tell us about this special coin!</label>
        <input type="string" name="History" placeholder="Please pretty please?"
            value="<%= typeof History != 'undefined' ? History : '' %>" />
    </div>
    <div>
        <label for="Value">Value of the coin now a days</label>
        <input type="number" name="Value" placeholder="Maybe it's worth a bit more ?"
            value="<%= typeof Value != 'undefined' ? Value : '' %>" />

    </div>
    <button onClick="window.location.href=window.location.href" type="submit" class="btn btn-primary btn-block" >
        Register
    </button>
</form>
</div>

</html>