<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Denomination</th>
        <th scope="col">Pic</th>
        <th scope="col">History</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <%coinsList.forEach(coins=> {%>
        <tr>
        <tr>
          <th scope="row">
            <%= movie._id %>
          </th>
          <td>
            <%= coins.Year %>
          </td>
          <td>
            <%= coins.Denomination %>
          </td>
          <td>
            <%= <img src="coins.Pic" %>
          </td>
          <td>
            <%= coins.History %>
          </td>
          <td>
            <%= coins.Value %>
          </td>
          <%)}%>
    </tbody>
  </table>
</body>

</html>